<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clothing Store</title>
  </head>
  <body>
    <h1>Clothing Store</h1>
    <p>
      Invoice no. {{ order.id }}<br />
      <span class="secondary">{{ order.created|date:'M d, Y' }}</span>
    </p>
    <h3>Bill to</h3>
    <p>
      {{ order.customer.user.full_name }} <br />
      {{ order.customer.user.email }} <br />
      {{ order.shipping_address }} <br />
      {{ order.postal_code }}, {{ order.city }}, {{ order.state }} <br />
    </p>
    <h3>Items Bought</h3>
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Cost</th>
        </tr>
      </thead>
      <tbody>
        {% for item in order.items.all %}
          <tr class="row{% cycle '1' '2' %}">
            <td>{{ item.product.name }}</td>
            <td class="num">₦{{ item.price }}</td>
            <td class="num">{{ item.quantity }}</td>
            <td class="num">₦{{ item.get_cost }}</td>
          </tr>
        {% endfor %}

        {% comment %} {% if order.coupon %}
          <tr class="subtotal">
            <td colspan="3">Subtotal</td>
            <td class="num">₦{{ order.get_total_cost_before_discount|floatformat:2 }}</td>
          </tr>
          <tr>
            <td colspan="3">"{{ order.coupon.code }}" coupon ({{ order.discount }}% off)</td>
            <td class="num neg">- ₦{{ order.get_discount|floatformat:2 }}</td>
          </tr>
        {% endif %} {% endcomment %}
        <tr>
          <td colspan="3">Shipping Fee</td>
          <td class="num">₦{{ order.shipping_fee|floatformat:2 }}</td>
        </tr>
        <tr class="total">
          <td colspan="3">Total</td>
          <td class="num">₦{{ order.get_total_cost|floatformat:2 }}</td>
        </tr>
      </tbody>
    </table>
    <span class="{% if order.payment_status == "successfull" %}
        
        
        paid


      {% else %}
        
        
        pending


      {% endif %}">
      {{ order.get_payment_status_display }}
    </span>
  </body>
</html>
